$icons: "css", "git", "html", "javascript", "mongo", "node", "react", "redux",
  "sass";

.homeContentContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 100px;
}
.title {
  font-family: "Oxygen", sans-serif;
  font-size: 40px;
  margin-bottom: 40px;
}
.text {
  font-family: "Oxygen", sans-serif;
  font-size: 30px;
  color: white;
}
.mainImg {
  object-fit: contain;
}
.imgBox {
  overflow: hidden;
  border-radius: 5px;
  width: 250px;
}
//tech skills
.techSkills {
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: rgba(119, 136, 153, 0.061);
  padding: 10px;
  border: 1px solid rgba(119, 136, 153, 0.157);
  border-radius: 5px;
}
.techSkillsItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techSkillsText {
  font-family: "Oxygen", sans-serif;
  font-size: 20px;
  color: rgb(119, 136, 153);
}

@each $iconName in $icons {
  .icon#{$iconName} {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    width: 60px;
    height: 60px;
    background-image: url("../../images/techicons/#{$iconName}.png");
    &:hover {
      transform: scale(1.1);
    }
  }
}

.videoBox {
  position: relative;
  width: 700px;
  display: flex;
  height: 200px;
  align-items: center;
  padding: 10px;
  z-index: -5;
}
.video {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -5;
}
